@font-face{
font-family: 'Raleway', sans-serif;
}
/*----------------------------------------------------------------*/
/*Seccion1*/
.img1{
  background-image: url('../img/1.jpg');
  background-color: ;
  background-size: 100%;
  background-repeat: no-repeat;
}
 /*flexbox------seccion1*/
.flexbox{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
}
.div{
    width: 50%;
    background-color: #66339914;
}
/*----------------------------------------------------------------*/
/*Seccion2*/
 /*flexbox------seccion1*/
.flexbox1{ /*padre*/
  display: block;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box1{ /*hijo*/
  flex-shrink: 0;
    width: 100%;
}
.div1{
   width: 100%;
}

/*----------------------------------------------------------------*/
/*Seccion2*/
 /*flexbox------seccion1*/
.flexbox2{ /*padre*/
  display: block;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box2{ /*hijo*/
  flex-shrink: 0;
    width: 100%;
    background-color: ;
}
.div2{
   width: 100%;
 /*  background-color: red;*/
}
h1{
  margin: 35px;
  color: #5DADE2;
}
p{
  margin: 35px;
  color: #000;
}
.ctn-izq{
  width: 60%;
  height: 500px;
  background-color: aqua;
  float: left;
}
.ctn-drc{
  width: 40%;
  float: right;
  background-color: orange;
}
.contenido2{
  width: 100%;
  background-color: #3498DB;
}
.border2{
  color: #ffffff;
  border-bottom: solid 1px #dee8e8;
}
.list-2{
      list-style: none;
    margin: 0 auto;
    color: #ffffff;
}
i.far.fa-check-square {
    font-size: 27px;
    margin: 10px;
}
.img2{
  padding: 10px;
      width: 50%;
}

/*----------------------------------------------------------------*/

/*Medias-Responsive*/
@media screen and (max-width: 795px) {
} 
  
@media screen and (max-width: 480px) {
}
 


















